.logo{
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
}
.logo-img{
    height: auto;
    max-width: 20%;
}
.principal-row{
    background-color: rgb(30, 144, 255);
    color: white;
}
.testo-casuale{
    padding: 10px;
}
/* lcolumn, ccolumn e rcolumn rispettivamente colonna di sinistra, centro e destra(left, center, e right) */
.lcolumn{
    display: inline-block;
    width: 25%;
}
.ccolumn{
    display: inline-block;
    width: 25%;
}
.rcolumn{
    display: inline-block;
    width: 49%;
}
.odd-row{
    background-color: aqua;
}
.even-row{
    background-color: white;
}